@charset "UTF-8";
@import '_mixin.scss';
.mt20 { margin-top: 0.625rem;}
.container{background-color: #E8EAEC;text-align: center;font-size: 22px;font-size:0.6875rem;padding-bottom: 170px;padding-bottom: 5.3125rem;}
.bk1{line-height: 90px;line-height: 2.8125rem;text-align: left;text-indent: 24px;text-indent: 0.75rem;}

.bk2{width:100%;height:300px;height:9.375rem;border-top:1px solid #DCDCDC;border-bottom:1px solid #DCDCDC;background-color: #fff;color: #333;}
.bk2 li{width:33%;height:49.5%;float: left;}
.myIcon{width:54px;width:1.6875rem;height:52px;height:1.6875rem;background:url("../img/publicIcon.png") center no-repeat;background-size: 1400%;
         margin:32px auto 20px; margin:1rem auto 0.625rem;}
.icon1{background-position: 0 38.5%;background-size: 1350%;}
.icon2{background-position: 13% 38%;background-size: 1360%;}
.icon3{background-position:27% 37%;background-size: 1300%;}
.icon4{background-position: 0 50%;background-size: 1400%;}
.icon5{background-position: 13% 50%;background-size: 1350%;}
.icon6{background-position: 26% 50%;background-size: 1295%;}

.border1{border-bottom: 1px solid #E1E1E1;}
.border2{border-left: 1px solid #E1E1E1;border-right: 1px solid #E1E1E1;}


.disNone{display: none;}
.alertBg{width:100%;height:100%;background-color: #000;opacity: 0.7;position: fixed;top:0;left: 0;z-index: 1992;}
.alertCon{width:13.4375rem;height:6.125rem;background-color:#fff;text-align: center;position: fixed;top:50%;left: 50%;margin-top: -3.0625rem;margin-left: -6.71875rem;border-radius: 0.3125rem;z-index: 2016;}
.alertCon .errorText{height:130px;height:4.0625rem;color: #333;font-size: 0.6875rem;line-height: 4.0625rem;}
.sure{width:100%;height:2rem;font-family:"微软雅黑";position:absolute;bottom:0;cursor:pointer;line-height: 2rem;border-top:1px solid #3297fd;color: #3297fd;font-size: 0.8125rem;}

/*2016-05-04修改（布局修改） */
.must ul a:after,.choose ul a:after,.must .myIcon,.choose .myIcon{background:url("../img/publicIcon.png") center no-repeat;}
.must,.choose{font-size: 22px;font-size: 0.6875rem;color: #999;line-height: 70px;line-height:2.1875rem;text-align: left;}
.must .text24,.choose .text24{font-size: 24px;font-size: 0.75rem;color: #666;padding-right:20px;padding-right: 0.625rem; padding-left: 24px;padding-left: 0.75rem;}
.must .border1{border-top: 1px solid #ccc;border-bottom:1px solid #ccc;}
.must ul,.choose ul{background-color: #fff; padding-left: 24px; padding-left: 0.75rem; }
.must ul a,.choose ul a{display: block;width: 100%;height: 78px;height:2.4375rem;}
.must .myIcon,.choose .myIcon{width:44px; height:44px; width:1.375rem;height:1.375rem;display: inline-block;float: left;margin:17px 22px 0 0;margin:0.53125rem 0.65625rem 0 0; background-size:1454%;}
.must ul p,.choose ul p{float: left;line-height: 78px;line-height: 2.4375rem;height: 100%;font-size: 28px;font-size:0.875rem;color: #333;}
/*.choose{}*/

.must .icon1{background-position: 58.6% -0.3%;} //完善信息
.must .icon2{background-position: 58.5% 10.1%;} //紧急联系人
.must .icon3{background-position: 58.5% 20.75%;}
.choose .icon4{background-position: 58.6% 30.525%;} //银行卡信息
.choose .icon5{background-position: 58.6% 40.9%;}//工作信息
.choose .icon6{ height:54px; height:1.6875rem; margin-top:12px; margin-top:0.375rem; background-position: 58% 52.125%;}
.choose .icon7{background-position: 58.35% 63%;}
.choose .icon8{background-position: 58% 73.6%;}//其他资料
.choose .border2{border-top: 1px solid #ccc;border-left: none;border-right: none;}

.hasSuccess{color: #39f;font-size: 28px;font-size:0.875rem; float: right;line-height: 78px;line-height: 2.4375rem;margin-right: 56px;margin-right: 1.75rem; }
.hasTips { font-size:0.625rem; color:#999; float:right; line-height: 2.4375rem; margin-right: 1.75rem;}


/*2016-05-25修改——增加按钮 */
a.borrowBtn{ display:block; cursor: pointer; height: 72px;height: 2.25rem;display: block; margin:20px 20px 0; margin:20px 0.625rem 0; border-radius: 0.3125rem;text-align: center;line-height: 2.25rem;font-size: 1rem;color: #fff;}
a.borrowBtn:hover{text-decoration: none;color: #fff;}
.blueBg{background-color: #3297fd;}
.grayBg{background-color:#ccc; }

/* 20160705图标新增及修改 */
.myIcon.icon9 { height:54px; height:1.6875rem; margin-top:12px; margin-top:0.375rem; background-position: 58.4% 52.125%;} /* 手机认证ICON */
.myIcon.icon10 { background-position:76.4% 41.5%;}/* 身份认证ICON */
.myIcon.icon11 { background-position:76.2% 52.6%;}/* 人脸识别ICON */
.myIcon.icon12 { background-position:76% 63.2%;}/* 电商新ICON */

.myIcon.icon13,.myIcon.icon14{ background:url(../img/creditReportIcon.png) no-repeat; background-size:600%; width:40px; width:1.25rem; height:1.25rem; margin:20px 20px 0 5px; margin:0.625rem 0.625rem 0 0.15625rem;}
.myIcon.icon13 { background-position:40% 40%;}/* 央行征信ICON */
.myIcon.icon14 { background-position:80% 40%;}/* 芝麻信用ICON */

.myIcon.icon15,.myIcon.icon16,.myIcon.icon17,.myIcon.icon18,.myIcon.icon19,.myIcon.icon20,.myIcon.icon21,.myIcon.icon22,,.myIcon.icon23,,.myIcon.icon24 { background:url(../img/addIcon0913.png?v=20161017) no-repeat; background-size:600%; width:42px; margin:20px 22px 0px 1px; width:1.3125rem; height:1.3125rem; margin:0.625rem 0.6875rem 0 0.03125rem;}
.myIcon.icon15 { background-position:0 60%;}  /*公积金授权*/
.myIcon.icon16 { background-position:20% 60%;} /*社保授权*/
.myIcon.icon17 { background-position:40% 60%;} /*储蓄卡流水导入*/
.myIcon.icon18 { background-position:60% 60%;} /*身份证图片*/
.myIcon.icon19 { background-position:60% 40%;} /*支付宝认证*/
.myIcon.icon20 { background-position:80% 40%;} /*京东认证*/
.myIcon.icon21 { background-position:100% 40%;} /*邮箱认证*/

.myIcon.icon22 { background-position:40% 80%;} /*工资*/
.myIcon.icon23 { background-position:60% 80%;} /*社保*/
.myIcon.icon24 { background-position:80% 80%;} /*征信查询*/


.must ul li,.choose ul li { border-bottom:1px solid #ccc;}
.must ul li:last-child,.choose ul li:last-child { border-bottom:none;}
/*朝右三角图标换种展示 */
.must ul a,.choose ul a { position:relative;}
.must ul a:after,.choose ul a:after { content:''; display:block; width:20px; height:20px; width:0.625rem; height:0.625rem; position:absolute; top:50%; right:0; margin:-0.3125rem 0.8125rem 0 0;background-position:39.9% 67.15%; background-size:3200%}
ul li.noArrow a:after { display:none;}
/**20160720修改-信息认证完成后显示灰色**/
.must .checkHas a:after { display:none;} 
.must .checkHas .hasSuccess { color: #999;}

/* 20160723新增弹出框 */
.alertBg2,.alertBg3{width:100%;height:100%;background-color: #000;opacity: 0.7;position: fixed;top:0;left: 0;z-index: 20160;}
.alertCon2,.alertCon3{width:13.4375rem; padding-bottom:2.625rem; font-family:"微软雅黑";background-color:#fff;position: fixed;top:50%;left: 50%;margin-top: -3.0625rem;margin-left: -6.71875rem;border-radius: 0.3125rem;z-index: 20160;}
.alertCon2 .alertH { font-size:0.75rem; padding-top:0.75rem; text-align:center; font-weight:bold;}
.alertCon2 .alertC{ line-height:1.5; color: #333;font-size: 0.6875rem; padding:20px 20px 0; padding:0.625rem 0.625rem 0;}
.sure{width:100%;height:2rem;font-family:"微软雅黑";position:absolute;bottom:0;cursor:pointer;line-height: 2rem;border-top:1px solid #3297fd;color: #3297fd;font-size: 0.8125rem;text-align: center;}
.sure a:-webkit-any-link {color: #3297fd;}
/* 20160808新增头部提示 */
.container .titleTips { background:#ecf5fc; border-bottom:1px solid #ccc;}
.container .titleTips a { height:80px; height:2.5rem; line-height:2.5rem;}
.container .titleTips a:after{ background-position:39.9% 77.55%;}

/*********** 20160728新增样式--将图标改为ttf的 ****************/
.borTop1 { border-top:1px solid #ccc;}
/*  20160930新增选填与必填资料 */
.chooseSteps i ,.chooseSteps dd:before,.chooseSteps dd:after{background:url(../img/addIcon0913.png); background-size:600%;}
.txtCenter { text-align:center;}
.chooseSteps { background:#fff; padding-left:24px; padding-left:0.75rem;}
.chooseSteps dd { height:100px; height:3.125rem; border-bottom:1px solid #e8e8e8; position:relative; }
.chooseSteps dd:last-child { border-bottom:none;}
.chooseSteps a { display:block; height:3.125rem; position:relative; z-index:2; padding-left: 2.96875rem; @include point(padding-top,22);}
.chooseSteps i { position: absolute; @include point(top,18);left: 0; @include point(width,64); @include point(height,64); background-color:#ccc; border-radius:32px;}
.chooseSteps .ic01 { background-position:0% 20%;}
.chooseSteps .ic02 { background-position:20% 20%;}
.chooseSteps .ic03 { background-position:40% 20%;}
.chooseSteps .ic04 { background-position:60% 20%;}
.chooseSteps .ic05 { background-position:40% 40%;}
    //20161122新增必填图标
    .chooseSteps .icon1 {background-position:80% 20%;} //完善信息
    .chooseSteps .icon2 {background-position:40% 20%;} //紧急联系人
    .chooseSteps .icon4 {background-position:80% 0%;} //银行卡信息
    .chooseSteps .icon5 {background-position:40% 40%;} //工作信息
    .chooseSteps .icon8 {background-position:100% 0%;} //其他资料
    .chooseSteps .icon9 {background-position:60% 20%;} //手机认证
    .chooseSteps .icon10 {background-position:0% 20%;} //身份认证
    .chooseSteps .icon11 {background-position:20% 20%;} //人脸识别
    .chooseSteps .icon13 {background-position:100% 20%;} //查询央行征信
    .chooseSteps .icon14 {background-position:80% 60%;} //芝麻信用
    .chooseSteps .icon15 {background-position:100% 60%;} //公积金授权
    .chooseSteps .icon16 {background-position:0% 80%;} //社保授权
    .chooseSteps .icon17 {background-position:20% 80%;} //储蓄卡流水导入
    .chooseSteps .icon22 { background-position:100% 80%;} /*工资*/
    .chooseSteps .icon23 { background-position:0% 100%;} /*社保*/
    .chooseSteps .icon24 { background-position:20% 100%;} /*征信查询*/
   
   .chooseSteps .iconXT { background-position:100% 100%;} /*选填-补充资料*/

.chooseSteps b { display:block; font-size:0.875rem; font-weight:normal; line-height: 1em; color:#333; padding: 0; }
.chooseSteps span { display:block; font-size:0.625rem; color:#999; @include point(line-height,24);}
.chooseSteps b+span { @include point(padding-top,6);}
.chooseSteps span+b { @include point(padding-top,4); }
.chooseSteps .lock:before,.chooseSteps .arrow:before { position:absolute; display:block; content:''; top:0.55rem; right:0.125rem; width:65px; width:2.03125rem; height:2.03125rem;}
.chooseSteps .lock:before { background-position:0% 40%;}
.chooseSteps .arrow:before { background-position:20% 40%;}
.chooseSteps .wait i{ background-color:#3297fd;}
.chooseSteps .ok:after { position:absolute; content:'\5DF2\5B8C\6210'; color:#3297fd; font-size:0.875rem; top:0; right:1.875rem; line-height:3.125rem;}
.chooseSteps .ok a { cursor:context-menu;}
.infoChoose { line-height:1.65em; padding:0.575rem 0 0.125rem; font-size:0.625rem;}
.infoChoose a { display:block; color:#666; font-size:0.75rem;}
.infoChoose a:after { display:inline-block; content:''; width:0.75rem; height:1rem; background:url(../img/addIcon0913.png) 25% 40%; background-size:1500%; position:relative; top:0.165rem;}
/* 20161008新增导入银行卡流水 */
.alertCon3 { width:470px; width:14.6875rem; margin-left:-7.34375rem; padding-bottom:2.28125rem; font-size:0.875rem;}
.alertCon3 .alertC{ line-height:1.25em; padding:1em 1.25em; text-align:justify; }
.alertCon3 .btns { position:absolute; bottom:0; left:0; width:100%; height:2.25rem; line-height:2.25rem; border-top:1px solid #e8e8e8;}
.alertCon3 .btns .abtn { float:left; width:50%; text-align:center; color:#3297fd; cursor: pointer;}
.alertCon3 .btns .bold { font-weight:bold;}
.alertCon3 .btns .bold:before { content:''; float:left; width:1px; height:2.25rem; background:#e8e8e8;}
/* 20161008新增银行流水列表样式 */
.container .heightened li { height: 90px; height: 2.8125rem;}
.container .heightened li p { line-height:2.8125rem;}
.container .heightened li p.lh40 { line-height: 40px; line-height: 1.25rem; height: 1.25rem; padding-top: 0.3125rem;}
.container .heightened li em {position:absolute; top: 50px; left: 66px; top:1.5625rem; left:2.0625rem; line-height: 1.4em;}
.container .heightened li i { margin-top: 24px; margin-top:0.75rem; position:relative;}
.container .heightened li a:after { margin-top: -0.0825rem;}
.heightened .hasSuccess { line-height: 2.8125rem;}
.heightened .icon9 { top:-6px; top:-0.1875rem;}
//20161010新增通讯录弹窗
.alertCon4 {
    //启用手机通讯录与定位
    @extend .alertCon3;
    @include point(width,520);
    @include box(margin,-300,0,0,-260);
    overflow: hidden;
    .btns{
        @include point(height,80);
        @include point(line-height,78);
        .abtn { width: 100%; font-weight: bold;}
    }
    .alertC {
        position: relative;
        width: 100%;
        @include box(padding,0,0,32);
        h3 { @include point(font-size,30); text-align: center; @include box(padding,30,0,24); }
        p { @include point(font-size,24); @include point(line-height,35); color: #666; @include box(padding,0,24);}
        &:before {
            display: block; content: '';
            @include point(height,230);
            background: #55b7d4;
            position: relative;
            z-index: 1;
        }
        &:after {
            display: block; content: '';
            position: absolute;
            z-index: 2;
            @include point(width,289);
            @include point(height,164);
            background: url(../img/iconContacts.png) no-repeat;
            background-size: 100%;
            @include point(top,32);
            @include point(left,100);
        }
    }
    //自动还款功能开启
    &.autoPay {
        @include point(margin-top,-330);
        .btns .abtn { color: #fab428;}
        .alertC {
            @include box(padding,0,0,24);
            h3 { @include box(padding,20,0,16); }
            //&:before,&:after { display: none;}
            
            &:before { background: #fccd43; @include point(height,320);}
            &:after {
                @include point(width,426);
                @include point(height,310);
                background: url(../img/iconAutoPay.png) no-repeat;
                background-size: 100%;
                @include point(top,10);
                @include point(left,40);
            }
            
           
        }
    }
}
//1011新增已阅读。。。
.agreen { font-size:0.6875rem; height:3em; line-height:3em; text-align:center;}
.agreen label { display:block; height:3em;}
.agreen input { -webkit-appearance:none; appearance:none; width:0; height:0; border:0;}
.agreen i { display:inline-block; width:0.7rem; height:0.75rem; overflow:hidden; vertical-align:middle; margin-right:0.4rem;background: url(../img/checkIdbg.png) center no-repeat;background-position:99.8% 78.5%;background-size:6000%; position:relative; top:-0.08rem;}
.agreen i.no { background-position:99.8% 92.6%;}
input.laydate-icon { text-indent:0; margin-left:6em; width:67.2%; /* background-position:92% center; width:73%; */}
.agreen .selectNo { background-position: 99.8% 92.5%;}
.colBlue { color:#3297fd;}
.canApply a.borrowBtn { @include point(margin-top,18);}

.container .fz22,.fz22 { font-size: 0.6875rem;}
.container .pTit { @include point(line-height,50); @include point(font-size,24); }
