@charset "UTF-8";
button {
  outline: none;
  border: 0;
  -webkit-appearance: none;
  font-family: "microsoft yahei"; }

.fontBack, .creditReport.reportDetail .rdSummary dt a, .creditReport .reDetailList, .creditReport .reDetailList dt a {
  color: #060927; }

.container {
  background: #e8eaec; }

.bgFFF {
  background: #fff; }

.blue {
  color: #3297fd; }

.gray, .col9, .creditReport .reDetailList dt span.gray {
  color: #999; }

.reportIcons, .rightArrow, .creditReport .reportList.reportGo dd:after, .creditReport.reportDetail .rdSummary dt:after, .creditReport .reDetailList dt:after, .creditReport.comProblem dl dt:after, .creditReport .reportBanner .look:after, .creditReport .reportBanner .look.okIcon:before, .creditReport .reportForm li.icon:after, .creditReport .ansList li label.hasChecked:after, .creditReport.reportDetail .rdSummary dd.icon:after, .creditReport .reDetailList dd.icon:after, .creditReport .noRecord:before, .creditReport .reportMore:before, .creidtZhima .zhimafenError:before, .top a.helpMore i {
  background: url(../img/creditReportIcon.png) no-repeat;
  background-size: 600%;
  width: 1.375rem;
  height: 1.375rem; }

.icon0913, .creditReport .reportForm li.idCode:after, .creditReport .reformTip.icon-tip:before {
  background: url(../img/addIcon0913.png) no-repeat;
  background-size: 600%; }

.rightArrow, .creditReport .reportList.reportGo dd:after, .creditReport.reportDetail .rdSummary dt:after, .creditReport .reDetailList dt:after, .creditReport.comProblem dl dt:after {
  display: block;
  position: absolute;
  content: '';
  z-index: 2;
  background-position: 0 20%;
  right: 0.3125rem;
  bottom: 50%;
  margin-bottom: -0.6875rem; }

.blueBtn, .creditReport .reportBlue {
  line-height: 2.25rem;
  font-size: 1rem;
  background: #3297fd;
  display: block;
  border-radius: 0.3125rem;
  width: 93.75%;
  color: #fff; }
  .blueBtn.reBtn, .creditReport .reBtn.reportBlue {
    text-align: center;
    margin: 0.78125rem auto 0.625rem auto; }
  .blueBtn.mt0, .creditReport .mt0.reportBlue {
    margin-top: 0; }
  .blueBtn.mt30, .creditReport .mt30.reportBlue {
    margin-top: 0.9375rem; }
  .blueBtn.mt20, .creditReport .mt20.reportBlue {
    margin-top: 0.625rem; }
  .blueBtn.mt-20, .creditReport .mt-20.reportBlue {
    margin-top: -0.625rem;
    position: relative;
    z-index: 3; }
  .blueBtn.grayBtn, .creditReport .grayBtn.reportBlue {
    background: #ccc; }
  .blueBtn.greenBg, .creditReport .greenBg.reportBlue {
    background: #43b800; }
  .blueBtn.light, .creditReport .light.reportBlue {
    border: 1px solid #3399ff;
    background: #e4effa; }
    .blueBtn.light:-webkit-any-link, .creditReport .light.reportBlue:-webkit-any-link {
      color: #3297fd; }
  .blueBtn:-webkit-any-link, .creditReport .reportBlue:-webkit-any-link {
    color: #fff; }

.aBlockLink, .creditReport.reportDetail .rdSummary dt a, .creditReport .reDetailList dt a {
  display: block;
  position: relative;
  z-index: 3; }

.txtEllipsis, .creditReport.reportDetail .rdSummary dd i, .creditReport .reDetailList dd.detail p span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.creditReport {
  padding-bottom: 4.0625rem; }
  .creditReport .reportBanner {
    height: 5.5rem;
    background: url(../img/creditReportBg.jpg) no-repeat;
    background-size: 100% 100%;
    text-align: right; }
    .creditReport .reportBanner .look {
      font-size: 0.875rem;
      line-height: 2.6875rem;
      padding-right: 0.3125rem;
      text-align: right;
      margin-top: 2.8125rem;
      display: inline-block;
      color: #fff;
      position: relative; }
      .creditReport .reportBanner .look:after {
        background-position: 0 20%;
        content: '';
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -0.0625rem; }
      .creditReport .reportBanner .look.okIcon:before {
        display: block;
        position: absolute;
        content: '';
        z-index: 2;
        background-position: 20% 0;
        left: -1.875rem;
        bottom: 0.625rem; }
      .creditReport .reportBanner .look.noOk:before {
        display: none; }
    .creditReport .reportBanner .noArrow {
      padding-right: 0.75rem; }
      .creditReport .reportBanner .noArrow:after {
        display: none; }
  .creditReport .reportList {
    margin-top: 0.5625rem;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
    line-height: 2.375rem;
    font-family: 'arial', "microsoft yahei"; }
    .creditReport .reportList, .creditReport .reportList a {
      color: #666; }
    .creditReport .reportList a {
      display: block;
      height: 100%;
      position: relative;
      z-index: 3; }
    .creditReport .reportList dt {
      border-left: 0.1875rem solid #3297fd;
      box-shadow: #ddd 0px 1px 0px;
      text-indent: 0.5625rem;
      color: #060927;
      font-size: 0.875rem; }
      .creditReport .reportList dt span {
        color: #999;
        float: right;
        padding-right: 0.75rem;
        font-size: 0.8125rem; }
    .creditReport .reportList dd {
      margin-left: 0.78125rem;
      border-bottom: 1px solid #f1f1f1;
      position: relative;
      font-size: 0.75rem; }
      .creditReport .reportList dd:last-child {
        border-bottom: 0; }
      .creditReport .reportList dd .time {
        padding-right: 1.8125rem; }
    .creditReport .reportList.reportGo dd:after {
      right: 0.3125rem; }
  .creditReport .selectBank {
    margin-top: 0; }
    .creditReport .selectBank dd {
      font-size: 0.875rem;
      line-height: 2.8125rem; }
      .creditReport .selectBank dd a {
        color: #000; }
        .creditReport .selectBank dd a:before {
          content: '';
          float: left;
          width: 2rem;
          height: 2rem;
          margin: 0.40625rem 0.5625rem 0 0;
          background: url(../img/bankIcon.png) no-repeat -100% -100%;
          background-size: 600%; }
      .creditReport .selectBank dd .bank10:before {
        background-position: 0 0; }
      .creditReport .selectBank dd .bank20:before {
        background-position: 20% 0; }
      .creditReport .selectBank dd .bank30:before {
        background-position: 40% 0; }
      .creditReport .selectBank dd .bank40:before {
        background-position: 60% 0; }
      .creditReport .selectBank dd .bank50:before {
        background-position: 80% 0; }
      .creditReport .selectBank dd .bank60:before {
        background-position: 100% 0; }
      .creditReport .selectBank dd .bank70:before {
        background-position: 0 25%; }
      .creditReport .selectBank dd .bank80:before {
        background-position: 20% 25%; }
      .creditReport .selectBank dd .bank90:before {
        background-position: 40% 25%; }
      .creditReport .selectBank dd .bank100:before {
        background-position: 60% 25%; }
      .creditReport .selectBank dd .bank110:before {
        background-position: 80% 25%; }
      .creditReport .selectBank dd .bank120:before {
        background-position: 100% 25%; }
      .creditReport .selectBank dd .bank130:before {
        background-position: 0 50%; }
      .creditReport .selectBank dd .bank140:before {
        background-position: 20% 50%; }
      .creditReport .selectBank dd .bank150:before {
        background-position: 40% 50%; }
      .creditReport .selectBank dd .bank160:before {
        background-position: 60% 50%; }
      .creditReport .selectBank dd .bank170:before {
        background-position: 80% 50%; }
      .creditReport .selectBank dd .bank180:before {
        background-position: 100% 50%; }
      .creditReport .selectBank dd .bank190:before {
        background-position: 0 75%; }
  .creditReport .aLinkGo {
    color: #3297fd;
    text-decoration: underline;
    font-size: 0.875rem;
    line-height: 1.875rem;
    margin-top: 0.46875rem;
    display: block;
    text-align: center; }
  .creditReport .reportBlue.reBtn {
    margin: 0.625rem auto 0.625rem auto; }
  .creditReport .reportForm {
    background: #fff; }
    .creditReport .reportForm li {
      height: 2.8125rem;
      overflow: hidden;
      margin-left: 0.78125rem;
      border-bottom: 1px solid #f1f1f1;
      position: relative; }
      .creditReport .reportForm li.noB, .creditReport .reportForm li:last-child {
        border-bottom: 0; }
      .creditReport .reportForm li label {
        display: block;
        height: 100%; }
        .creditReport .reportForm li label .tit {
          color: #666;
          font-size: 0.875rem;
          line-height: 2.8125rem; }
      .creditReport .reportForm li input {
        font-size: 0.875rem;
        line-height: 1.5625rem;
        padding: 0.625rem 0 0.625rem 0;
        border: 0;
        background-color: transparent;
        margin-left: 2.6875rem;
        color: #333; }
        .creditReport .reportForm li input.inputA {
          width: 83%; }
        .creditReport .reportForm li input.inputB {
          width: 48%; }
        .creditReport .reportForm li input.inputC {
          margin: 0;
          float: right;
          width: 69%;
          font-size: 0.75rem; }
        .creditReport .reportForm li input::-webkit-input-placeholder {
          color: #ccc; }
      .creditReport .reportForm li.icon:after {
        display: block;
        position: absolute;
        content: '';
        z-index: 2;
        top: 0.625rem;
        overflow: hidden; }
      .creditReport .reportForm li.userName:after {
        background-position: 0 40%; }
      .creditReport .reportForm li.passWord:after {
        background-position: 20% 40%; }
      .creditReport .reportForm li.checkCord:after {
        background-position: 60% 40%; }
      .creditReport .reportForm li.idCode:after {
        background-position: 40% 0; }
      .creditReport .reportForm li .codeImg {
        float: right;
        width: 30%;
        padding: 0 3%;
        margin: 0.46875rem 0 0.46875rem 0; }
        .creditReport .reportForm li .codeImg img {
          width: 100%;
          height: 1.875rem; }
      .creditReport .reportForm li .reCode {
        font-size: 0.75rem;
        line-height: 2.8125rem;
        color: #3297fd;
        width: 30%;
        position: absolute;
        z-index: 4;
        text-align: center;
        top: 0;
        right: 0.9em;
        text-indent: -999em; }
      .creditReport .reportForm li .regCheck {
        position: absolute;
        display: block;
        width: 4.6875rem;
        line-height: 1.5625rem;
        border-radius: 0.25rem;
        text-align: center;
        font-size: 0.75rem;
        top: 0.625rem;
        right: 0.625rem;
        background: #3297fd;
        color: #fff; }
        .creditReport .reportForm li .regCheck.gray, .creditReport .reportForm li .regCheck.col9 {
          background: #ccc; }
      .creditReport .reportForm li.txt1, .creditReport .reportForm li.txt2, .creditReport .reportForm li.txt3, .creditReport .reportForm li.txt4 {
        font-size: 0.875rem;
        line-height: 2.8125rem; }
        .creditReport .reportForm li.txt1 span, .creditReport .reportForm li.txt2 span, .creditReport .reportForm li.txt3 span, .creditReport .reportForm li.txt4 span {
          float: left;
          width: 5.3em; }
        .creditReport .reportForm li.txt1 label, .creditReport .reportForm li.txt2 label, .creditReport .reportForm li.txt3 label, .creditReport .reportForm li.txt4 label {
          display: block; }
        .creditReport .reportForm li.txt1 .inputA, .creditReport .reportForm li.txt2 .inputA, .creditReport .reportForm li.txt3 .inputA, .creditReport .reportForm li.txt4 .inputA {
          width: 73%;
          margin: 0; }
        .creditReport .reportForm li.txt1 .inputB, .creditReport .reportForm li.txt2 .inputB, .creditReport .reportForm li.txt3 .inputB, .creditReport .reportForm li.txt4 .inputB {
          width: 39%;
          margin: 0; }
        .creditReport .reportForm li.txt1 .codeImg, .creditReport .reportForm li.txt2 .codeImg, .creditReport .reportForm li.txt3 .codeImg, .creditReport .reportForm li.txt4 .codeImg {
          margin: 0; }
          .creditReport .reportForm li.txt1 .codeImg img, .creditReport .reportForm li.txt2 .codeImg img, .creditReport .reportForm li.txt3 .codeImg img, .creditReport .reportForm li.txt4 .codeImg img {
            position: relative;
            top: -0.09375rem; }
        .creditReport .reportForm li.txt1 .code, .creditReport .reportForm li.txt2 .code, .creditReport .reportForm li.txt3 .code, .creditReport .reportForm li.txt4 .code {
          position: absolute;
          display: block;
          top: 0.46875rem;
          right: 0.625rem;
          width: 5rem;
          height: 1.875rem;
          line-height: 1.5625rem; }
          .creditReport .reportForm li.txt1 .code img, .creditReport .reportForm li.txt2 .code img, .creditReport .reportForm li.txt3 .code img, .creditReport .reportForm li.txt4 .code img {
            width: 100%;
            height: 100%; }
      .creditReport .reportForm li.txt2 span {
        width: 4.2em; }
      .creditReport .reportForm li.txt2 .inputA {
        width: 78%; }
      .creditReport .reportForm li.txt3 span {
        width: 5.8em; }
      .creditReport .reportForm li.txt3 .inputA {
        width: 70%; }
      .creditReport .reportForm li.txt3 .liTip02 {
        padding-left: 5.125rem; }
      .creditReport .reportForm li.txt4 span {
        width: 3.3em; }
      .creditReport .reportForm li.txt4 .inputA {
        width: 82%; }
      .creditReport .reportForm li.hasTip {
        height: auto; }
      .creditReport .reportForm li .liTip01 {
        font-size: 0.6875rem;
        line-height: 1rem;
        margin-bottom: 0.375rem;
        position: relative;
        top: -0.25rem;
        background: #b8b8b8;
        width: 94%;
        color: #fff;
        padding: 0.15625rem 1.5%;
        border-radius: 0.1875rem;
        -webkit-border-radius: 0.1875rem; }
        .creditReport .reportForm li .liTip01:before {
          position: absolute;
          top: -0.5625rem;
          left: 0.75rem;
          display: block;
          content: '';
          width: 0;
          height: 0;
          overflow: hidden;
          border: 0.3125rem solid;
          border-color: transparent transparent #b8b8b8 transparent; }
      .creditReport .reportForm li .liTip02 {
        font-size: 0.6875rem;
        line-height: 0.875rem;
        color: #ccc;
        padding: 0 1rem 0.1875rem 3.75rem;
        position: relative;
        top: -0.5625rem; }
  .creditReport .reformTip {
    font-size: 0.75rem;
    line-height: 1.3125rem;
    padding: 0.3125rem 0.75rem 0.3125rem 0.75rem; }
    .creditReport .reformTip.icon-tip:before {
      content: '';
      display: inline-block;
      width: 0.875rem;
      height: 0.875rem;
      vertical-align: middle;
      background-position: 40% 100%;
      position: relative;
      top: -0.0625rem;
      margin-right: 0.3125rem; }
  .creditReport .timeTip {
    font-size: 0.875rem;
    line-height: 2.375rem;
    color: #fff;
    text-align: center;
    background: #323232; }
    .creditReport .timeTip span {
      padding: 0 0.375rem 0 0.375rem;
      color: #3297fd; }
  .creditReport .ansList li {
    padding: 0.875rem 0.78125rem 0 0.78125rem;
    font-size: 0.75rem;
    color: #060927; }
    .creditReport .ansList li p {
      font-size: 0.875rem;
      line-height: 1.4375rem;
      position: relative;
      text-indent: 2.4em;
      font-weight: bold; }
      .creditReport .ansList li p span {
        position: absolute;
        display: block;
        left: 0;
        top: 0.0625rem;
        line-height: 1.3125rem;
        width: 1.875rem;
        border-radius: 0.3125rem;
        background: #323232;
        color: #fff;
        text-indent: 0;
        text-align: center; }
    .creditReport .ansList li label {
      line-height: 2.3125rem;
      margin-top: 0.5625rem;
      border: 1px solid #ddd;
      display: block;
      border-radius: 0.375rem;
      text-indent: 0.6875rem;
      cursor: pointer; }
      .creditReport .ansList li label input {
        display: none; }
      .creditReport .ansList li label.hasChecked {
        background: #3297fd;
        border: 1px solid #3297fd;
        color: #fff;
        position: relative; }
        .creditReport .ansList li label.hasChecked:after {
          display: block;
          position: absolute;
          content: '';
          z-index: 2;
          background-position: 40% 0;
          bottom: 0.46875rem;
          right: 0.625rem; }
  .creditReport.reportDetail {
    color: #060927; }
    .creditReport.reportDetail .rdTitle {
      border-bottom: 1px solid #d8d8d8;
      position: relative;
      background: #fff;
      font-size: 0.75rem;
      line-height: 1.375rem;
      padding: 0.40625rem 0 0.40625rem 0.75rem; }
      .creditReport.reportDetail .rdTitle p {
        position: absolute;
        top: 0.46875rem;
        right: 0.8125rem;
        line-height: 1.1em;
        text-align: right;
        color: #999;
        font-size: 0.75rem; }
        .creditReport.reportDetail .rdTitle p b {
          color: #3297fd;
          display: block;
          font-size: 1.25rem;
          line-height: 1.25em; }
    .creditReport.reportDetail .rdSummary {
      background: #fff;
      border-bottom: 1px solid #d8d8d8;
      margin-top: 0.5625rem;
      overflow: hidden; }
      .creditReport.reportDetail .rdSummary dt {
        line-height: 2.375rem;
        margin: 0 0.75rem 0 0.75rem;
        border-bottom: 1px solid #e8e8e8;
        font-size: 0.875rem;
        position: relative; }
        .creditReport.reportDetail .rdSummary dt:after {
          right: -0.40625rem; }
      .creditReport.reportDetail .rdSummary dd {
        width: 19.99%;
        float: left;
        font-size: 0.625rem;
        padding: 2.5rem 0 0.3125rem 0;
        text-align: center;
        position: relative; }
        .creditReport.reportDetail .rdSummary dd b {
          color: #3297fd;
          font-weight: normal;
          line-height: 2em;
          font-size: 0.75rem; }
          .creditReport.reportDetail .rdSummary dd b.gray, .creditReport.reportDetail .rdSummary dd b.col9 {
            color: #999; }
        .creditReport.reportDetail .rdSummary dd.icon:after {
          display: block;
          position: absolute;
          content: '';
          z-index: 2;
          position: absolute;
          width: 1.5rem;
          height: 1.5rem;
          top: 0.625rem;
          left: 50%;
          margin-left: -0.78125rem; }
        .creditReport.reportDetail .rdSummary dd.icon01:after {
          background-position: 20% 20%; }
        .creditReport.reportDetail .rdSummary dd.icon02:after {
          background-position: 40% 20%; }
        .creditReport.reportDetail .rdSummary dd.icon03:after {
          background-position: 60% 20%; }
        .creditReport.reportDetail .rdSummary dd.icon04:after {
          background-position: 80% 20%; }
        .creditReport.reportDetail .rdSummary dd.icon05:after {
          background-position: 100% 20%; }
  .creditReport .reDetailList {
    background: #fff;
    margin-top: 0.5625rem;
    padding-left: 0.75rem;
    border-bottom: 1px solid #d8d8d8; }
    .creditReport .reDetailList.mt0, .creditReport .reDetailList:first-child {
      margin-top: 0; }
    .creditReport .reDetailList dt {
      font-size: 0.875rem;
      line-height: 2.375rem;
      border-bottom: 1px solid #f1f1f1;
      position: relative; }
      .creditReport .reDetailList dt.noArrow:after {
        display: none; }
      .creditReport .reDetailList dt:last-child {
        border-bottom: 0; }
      .creditReport .reDetailList dt span {
        float: right;
        font-size: 0.75rem;
        padding-right: 1.875rem; }
      .creditReport .reDetailList dt.hasCon {
        border-bottom: 0; }
        .creditReport .reDetailList dt.hasCon:after {
          display: none; }
        .creditReport .reDetailList dt.hasCon span {
          padding-right: 0.75rem; }
    .creditReport .reDetailList dd {
      font-size: 0.75rem;
      margin-top: 0.1875rem;
      background: #f1f3f4;
      padding: 0.625rem 0.5rem 0.625rem 0;
      line-height: 1.0625rem;
      position: relative;
      word-break: break-all; }
      .creditReport .reDetailList dd.icon {
        padding-left: 2.1875rem;
        word-break: break-word;
        word-wrap: break-word; }
        .creditReport .reDetailList dd.icon:after {
          display: block;
          position: absolute;
          content: '';
          z-index: 2;
          position: absolute;
          bottom: 50%;
          margin-bottom: -0.90625rem;
          left: -0.25rem;
          width: 1.8125rem;
          height: 1.8125rem; }
      .creditReport .reDetailList dd.icon01:after {
        background-position: 60% 0; }
      .creditReport .reDetailList dd.icon02:after {
        background-position: 80% 0; }
      .creditReport .reDetailList dd.detail {
        padding: 0.46875rem 0.75rem 0.46875rem 0;
        line-height: 1.5625rem;
        background: #fff; }
        .creditReport .reDetailList dd.detail p {
          overflow: hidden; }
          .creditReport .reDetailList dd.detail p span {
            float: left;
            width: 50%;
            color: #999; }
        .creditReport .reDetailList dd.detail:before {
          display: none; }
      .creditReport .reDetailList dd:before {
        position: absolute;
        top: 0;
        left: -0.6875rem;
        width: 0.6875rem;
        background: #f1f3f4;
        height: 100%;
        content: '';
        display: block; }
      .creditReport .reDetailList dd.mt0 {
        margin-top: 0; }
  .creditReport .waitReport {
    background: #fff;
    overflow: hidden; }
    .creditReport .waitReport .pTit {
      margin: 1.875rem 0 0.9375rem 0;
      font-size: 1rem;
      line-height: 2.34375rem;
      color: #3297fd;
      text-align: center; }
      .creditReport .waitReport .pTit:before {
        display: inline-block;
        width: 2.03125rem;
        height: 2.03125rem;
        margin-right: 0.9375rem;
        background: url(../img/publicIcon.png) -0.4% 99.8% no-repeat;
        background-size: 551.7%;
        content: '';
        vertical-align: middle; }
    .creditReport .waitReport .pCon {
      font-size: 0.75rem;
      line-height: 1.5em;
      color: #666;
      padding: 0 0.9375rem 1.09375rem 0.9375rem; }
  .creditReport .noRecord {
    margin-top: 8.125rem;
    font-size: 0.875rem;
    text-align: center; }
    .creditReport .noRecord:before {
      background-position: 0% 100%;
      background-size: 200%;
      display: block;
      content: '';
      width: 4.6875rem;
      height: 4.6875rem;
      margin: 0 auto 1rem auto; }
  .creditReport.checkCodes {
    font-size: 0.75rem; }
    .creditReport.checkCodes .pTit {
      line-height: 1.125rem;
      padding: 0.625rem 0.75rem 0.625rem 0.75rem; }
    .creditReport.checkCodes .checkSMS, .creditReport.checkCodes .checkID {
      height: 2.375rem;
      line-height: 2.375rem;
      background: #fff;
      position: relative;
      font-size: 0.875rem; }
      .creditReport.checkCodes .checkSMS input, .creditReport.checkCodes .checkID input {
        font-size: 0.875rem;
        line-height: 1.125rem;
        padding: 0.625rem 0 0.625rem 0;
        width: 100%;
        border: 0;
        color: #333;
        background-color: transparent; }
      .creditReport.checkCodes .checkSMS input::-webkit-input-placeholder, .creditReport.checkCodes .checkID input::-webkit-input-placeholder {
        color: #ccc; }
      .creditReport.checkCodes .checkSMS .send, .creditReport.checkCodes .checkID .send {
        position: absolute;
        top: 0;
        right: 0;
        width: 6.25rem;
        height: 2.375rem;
        background: #3297fd;
        color: #fff;
        text-align: center; }
        .creditReport.checkCodes .checkSMS .send.gray, .creditReport.checkCodes .checkSMS .send.col9, .creditReport.checkCodes .checkID .send.gray, .creditReport.checkCodes .checkID .send.col9 {
          background: #ccc; }
      .creditReport.checkCodes .checkSMS .codes, .creditReport.checkCodes .checkID .codes {
        position: absolute;
        left: 0.75rem; }
    .creditReport.checkCodes .codeTips {
      color: #999;
      text-align: center;
      line-height: 1.3125rem;
      padding-top: 0.15625rem; }
    .creditReport.checkCodes .checkSMS input {
      text-indent: 0.75rem; }
    .creditReport.checkCodes .checkID input {
      text-indent: 6.875rem; }
    .creditReport.checkCodes .cMore {
      display: block;
      line-height: 1.25rem;
      padding-right: 0.75rem;
      color: #3297fd;
      text-align: right;
      position: relative;
      top: -0.625rem; }
  .creditReport.regSteps p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 1.125rem 0.75rem 1.125rem 0.75rem; }
    .creditReport.regSteps p .blue {
      color: #3297fd; }
    .creditReport.regSteps p:first-child {
      padding-top: 0.8125rem; }
  .creditReport.regSteps .icon {
    display: block;
    margin: 0 auto;
    width: 10.9375rem;
    height: 10.9375rem;
    background: url(../img/recordSetpBg.jpg) no-repeat;
    background-size: 500%;
    text-indent: -999em; }
    .creditReport.regSteps .icon.icon02 {
      background-position: 25% 0; }
    .creditReport.regSteps .icon.icon03 {
      background-position: 50% 0; }
    .creditReport.regSteps .icon.icon04 {
      background-position: 75% 0; }
    .creditReport.regSteps .icon.icon05 {
      background-position: 100% 0; }
  .creditReport.comProblem dl {
    background: #fff; }
    .creditReport.comProblem dl dt {
      font-size: 0.875rem;
      line-height: 1.4375rem;
      height: 1.4375rem;
      border-bottom: 1px solid #e8eaec;
      padding: 0.46875rem 1.875rem 0.46875rem 0.75rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative; }
      .creditReport.comProblem dl dt:after {
        bottom: auto;
        top: 0.4375rem;
        right: 0.375rem; }
    .creditReport.comProblem dl dd {
      font-size: 0.75rem;
      line-height: 1.1875rem;
      color: #666;
      padding: 0.625rem 0.75rem 0.625rem 0.75rem; }
    .creditReport.comProblem dl.closeDL dd {
      display: none; }
    .creditReport.comProblem dl.open {
      margin-bottom: 0.875rem; }
      .creditReport.comProblem dl.open dt {
        height: auto;
        white-space: normal; }
        .creditReport.comProblem dl.open dt:after {
          transform: rotate(90deg);
          right: 0.5rem; }
      .creditReport.comProblem dl.open dd {
        display: block; }
  .creditReport .reportMoreBtn {
    padding-top: 0.625rem;
    text-align: center; }
    .creditReport .reportMoreBtn a {
      display: inline-block;
      width: 8.6em;
      font-size: 0.75rem;
      line-height: 1.8125rem;
      border-radius: 0.25rem;
      border: 1px solid #3297fd;
      margin: 0.125rem 0.125rem 0.125rem 0.125rem;
      color: #3297fd; }
  .creditReport .reportMore {
    font-size: 0.75rem;
    text-align: center;
    color: #3297fd;
    display: block;
    line-height: 1.65em; }
    .creditReport .reportMore:before {
      display: inline-block;
      width: 1.09375rem;
      height: 1.09375rem;
      margin-right: 0.125rem;
      background-position: 100% 0;
      position: relative;
      top: -0.09375rem;
      vertical-align: middle;
      content: ''; }
  .creditReport .regSuccess {
    font-size: 1rem;
    line-height: 2.1875rem;
    padding: 1.5625rem 0 1.125rem 0;
    background: #fff;
    text-align: center; }
    .creditReport .regSuccess:before {
      display: block;
      margin: 0 auto;
      width: 3.125rem;
      height: 3.125rem;
      content: '';
      background: url(../img/publicIcon.png) center no-repeat;
      background-position: -0.4% 99.8%;
      background-size: 551.7%; }

.creidtZhima .zhimaCanvas {
  text-align: center;
  padding-top: 5.3125rem; }
  .creidtZhima .zhimaCanvas canvas {
    width: 14.0625rem;
    height: 14.0625rem; }
.creidtZhima .zhimafenError {
  text-align: center;
  color: #838b93;
  font-size: 0.875rem;
  padding: 5.75rem 0 5.6875rem 0; }
  .creidtZhima .zhimafenError:before {
    display: block;
    content: '';
    width: 5rem;
    height: 5rem;
    margin: 0 auto 0.625rem auto;
    background-size: 200%;
    background-position: 100% 100%; }

.top a.helpMore {
  height: 100%;
  padding: 0 3%;
  right: 0; }
  .top a.helpMore i {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-position: 100% 40%;
    text-indent: -999em;
    vertical-align: middle;
    position: relative;
    top: -0.09375rem; }

.reportReg {
  font-size: 0.75rem;
  position: relative;
  width: 93.75%;
  padding: 0 3.125%;
  overflow: hidden;
  height: 4.6875rem;
  background: #fff; }
  .reportReg ul {
    width: 150%; }
    .reportReg ul li {
      position: absolute;
      top: 0.5rem;
      width: 4.6875rem;
      line-height: 2em;
      text-align: center; }
      .reportReg ul li.ok i, .reportReg ul li.ok:after, .reportReg ul li.ok:before {
        background: #ff9500; }
      .reportReg ul li i {
        display: block;
        width: 2.4375rem;
        height: 2.4375rem;
        line-height: 2.4375rem;
        border-radius: 1.25rem;
        font-size: 1.25rem;
        margin: 0 auto;
        text-align: center;
        font-family: arial;
        color: #fff;
        background: #ccc; }
      .reportReg ul li:after, .reportReg ul li:before {
        display: block;
        background: #f00;
        content: '';
        width: 2.75rem;
        height: 0.3125rem;
        position: absolute;
        top: 1.15625rem;
        z-index: 1;
        background: #ccc; }
      .reportReg ul li:after {
        right: -1.5625rem; }
      .reportReg ul li:before {
        left: -1.5625rem;
        z-index: 2; }
      .reportReg ul li.step01 {
        left: 0; }
        .reportReg ul li.step01:before {
          display: none; }
      .reportReg ul li.step02 {
        left: 50%;
        margin-left: -2.34375rem; }
        .reportReg ul li.step02:after {
          z-index: 3; }
      .reportReg ul li.step03 {
        right: 0; }
        .reportReg ul li.step03:after {
          display: none; }

.pTips {
  color: #999;
  font-size: 0.75rem;
  line-height: 1.4em;
  padding: 0.4375rem 0.75rem 0 0.75rem;
  text-align: justify; }
  .pTips.noTop {
    margin-top: -0.15625rem;
    padding-top: 0; }

.alertTips {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden; }

.alertTips .alertTipsCon {
  width: 14.6875rem;
  position: fixed;
  bottom: 50%;
  left: 50%;
  background: #fff;
  border-radius: 0.3125rem;
  margin: 0 0 -3.125rem -7.34375rem;
  padding-top: 0.8125rem; }

.alertTips .alertTipsCon .title {
  padding: 0 1.25rem 0 1.25rem;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 500; }

.alertTips .alertTipsCon .txCenter {
  text-align: center; }

.alertTips .alertTipsCon .alertBtns {
  margin-top: 0.9375rem;
  border-top: 1px solid #e8e8e8; }

.alertTips .alertTipsCon .alertBtns.twoBtn a, .alertTips .alertTipsCon .alertBtns.twoBtn span, .alertTips .alertTipsCon .alertBtns.twoBtn button {
  width: 49.9%;
  float: left; }

.alertTips .alertTipsCon .alertBtns a, .alertTips .alertTipsCon .alertBtns span, .alertTips .alertTipsCon .alertBtns button {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 2.25rem;
  text-align: center;
  color: #3297fd;
  font-family: "microsoft yahei";
  background: no-repeat;
  border: 0;
  cursor: pointer; }

.alertTips .alertTipsCon .alertBtns .bold {
  font-weight: 500; }

.alertTips .alertTipsCon .alertBtns .line {
  position: relative; }

.alertTips .alertTipsCon .alertBtns .line:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #e8e8e8; }

.alertTips .alertTipsCon .forms {
  padding: 0 0.9375rem 0 0.9375rem; }

.alertTips .alertTipsCon .forms li {
  margin-top: 0.5625rem;
  font-size: 0.75rem;
  overflow: hidden; }

.alertTips .alertTipsCon .forms li input {
  float: left;
  font-size: 0.75rem;
  padding: 0.625rem 0 0.625rem 0;
  height: 0.9375rem;
  text-indent: 0.375rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd; }

.alertTips .alertTipsCon .forms li input::-webkit-input-placeholder {
  color: #ccc; }

.alertTips .alertTipsCon .forms li.liWarp {
  border: 1px solid #ddd;
  height: 2.1875rem;
  border-radius: 0.25rem; }

.alertTips .alertTipsCon .forms li .inputType1 {
  width: 57%;
  padding-right: 3%; }

.alertTips .alertTipsCon .forms li .inputType2 {
  width: 58%;
  border: 0; }

.alertTips .alertTipsCon .forms li .inputType3 {
  width: 97%;
  border: 0; }

.alertTips .alertTipsCon .forms li .checkImg {
  width: 36%;
  margin: 0.15625rem 0.15625rem 0 0; }

.alertTips .alertTipsCon .forms li .checkImg, .alertTips .alertTipsCon .forms li .checkImg img {
  float: right;
  height: 1.875rem; }

.alertTips .alertTipsCon .forms li .checkImg img {
  width: 100%; }

.alertTips .alertTipsCon .forms li .checkCode {
  float: right;
  width: 36%;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  overflow: hidden;
  color: #fff;
  background: #3297fd;
  border-radius: 0.28125rem; }

.alertTips .alertTipsCon .forms li .checkCode.gray, .alertTips .alertTipsCon .forms li .checkCode.col9 {
  background: #ccc; }

/* 加长版弹窗 */
.alertTips .alertLong {
  width: 16.25rem;
  margin-left: -8.125rem; }

.alertTips .alertLong .title {
  padding: 0 0.625rem 0 0.625rem;
  text-align: center; }

.dialogBg {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent; }

.dialog {
  width: 8.4375rem;
  height: 3.875rem;
  font-size: 0.875rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -2.5625rem 0 0 -4.21875rem;
  padding: 0.625rem 0 0.625rem 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.3125rem;
  text-align: center;
  color: #fff;
  opacity: 1;
  transition: all 0.2s; }
  .dialog:before {
    display: block;
    content: '';
    width: 1.5625rem;
    height: 1.5625rem;
    margin: 0.375rem auto 0.15625rem auto;
    background: url(../img/addIcon0913.png) no-repeat;
    background-size: 600%; }
  .dialog.false:before {
    background-position: 20% 0; }
  .dialog.true:before {
    background-position: 0 0%; }
  .dialog.text:before, .dialog.sort:before {
    display: none; }
  .dialog.text, .dialog.sort {
    width: 15.375rem;
    margin: -1.75rem 0 0 -7.6875rem;
    padding-top: 0.5rem;
    height: auto; }
  .dialog.sort {
    width: 8.4375rem;
    margin-left: -4.21875rem; }
  .dialog.hide {
    opacity: 0; }

.supportBank {
  font-size: 0.875rem; }
  .supportBank p {
    line-height: 2.3125rem;
    text-indent: 1.40625rem; }
  .supportBank dl {
    line-height: 2.5rem;
    overflow: hidden; }
    .supportBank dl dd {
      float: left;
      width: 49.99%; }
      .supportBank dl dd:before {
        content: '';
        float: left;
        width: 1.75rem;
        height: 1.75rem;
        margin: 0.40625rem 0.875rem 0 1.40625rem;
        background: url(../img/bankIcon.png) no-repeat -100% -100%;
        background-size: 600%; }
      .supportBank dl dd.bank10:before {
        background-position: 0 0; }
      .supportBank dl dd.bank20:before {
        background-position: 20% 0; }
      .supportBank dl dd.bank30:before {
        background-position: 40% 0; }
      .supportBank dl dd.bank40:before {
        background-position: 60% 0; }
      .supportBank dl dd.bank50:before {
        background-position: 80% 0; }
      .supportBank dl dd.bank60:before {
        background-position: 100% 0; }
      .supportBank dl dd.bank70:before {
        background-position: 0 25%; }
      .supportBank dl dd.bank80:before {
        background-position: 20% 25%; }
      .supportBank dl dd.bank90:before {
        background-position: 40% 25%; }
      .supportBank dl dd.bank100:before {
        background-position: 60% 25%; }
      .supportBank dl dd.bank110:before {
        background-position: 80% 25%; }
      .supportBank dl dd.bank120:before {
        background-position: 100% 25%; }
      .supportBank dl dd.bank130:before {
        background-position: 0 50%; }
      .supportBank dl dd.bank140:before {
        background-position: 20% 50%; }
      .supportBank dl dd.bank150:before {
        background-position: 40% 50%; }
      .supportBank dl dd.bank170:before {
        background-position: 80% 50%; }
      .supportBank dl dd.bank160:before {
        background-position: 60% 50%; }
      .supportBank dl dd.bank180:before {
        background-position: 100% 50%; }
      .supportBank dl dd.bank190:before {
        background-position: 0 75%; }

/*# sourceMappingURL=creditReport.css.map */
