.container{background-color:#E9EAEC;overflow: hidden;padding-bottom: 100px;padding-bottom: 3.125rem;}
.main .con{width:93.75%;margin:20px auto 0;margin:0.625rem auto 0;background-color: #fff;}
.rTitle{color: #666;font-size: 28px;font-size:0.875rem;font-weight:bold;line-height: 60px;line-height: 1.875rem;border-bottom: 1px solid #E8EAEC;color: #333;text-indent: 20px;text-indent: 0.625rem;}
.rText{width:560px;width:17.5rem;font-size: 24px;font-size: 0.75rem;color: #333;padding:10px 20px;padding:0.3125rem 0.625rem;line-height: 40px;line-height: 1.25rem;}
